<div class="data-table-container">
  <mat-card>
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="thumbnail">
        <mat-header-cell *matHeaderCellDef> Thumbnail </mat-header-cell>
        <mat-cell *matCellDef="let video"> <img mat-card-sm-image src="{{ video.thumbnails.default.url }}" width="{{ video.thumbnails.default.width }}" height="{{ video.thumbnails.default.height }}"> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let video"> <mat-card>{{ video.title }} </mat-card></mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let video"> <mat-card>{{ video.description.substring(0, 150) }}...</mat-card> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="publishedAt">
        <mat-header-cell *matHeaderCellDef> Date Published </mat-header-cell>
        <mat-cell *matCellDef="let video"> <mat-card>{{ video.publishedAt }} </mat-card></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator
      [length]="dataSource.totalResults"
      [pageSize]="dataSource.resultsPerPage">
    </mat-paginator>
  </mat-card>

</div>